@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-Montserrat: "Montserrat", sans-serif;
    --font-Inter: "Inter", sans-serif;
    --shadow-black2xs:  0px 15px 15px 0px rgba(35,35,35,0.16);
    --animate-floatUp: floatUp 1s ease-in-out infinite;
    --bg-uberBg: url('/src/assets/img/uber/bguber.png');
    --bg-cityBg: url('/src/assets/img/uber/bg-city.png');

    @keyframes floatUp {
        0%{
        transform:translateY(0px)  
        }
        50%{
            transform:translateY(-8px)
        }
        100%{
            transform:translateY(0px)
        }
    }
}

@layer utilities {
  .bg-uber {
    background-image: var(--bg-uberBg);
    background-size: cover;
    background-position: center;
  }

  .bg-city {
    background-image: var(--bg-cityBg);
    background-size: cover;
    background-position: center;
  }
  
  .h-fill-available {
    height: -webkit-fill-available;
    height: fill-available; /* Para compatibilidade com outros navegadores */
  }

  @media (min-width: 1024px) {
    .lg\:bg-uber {
      background-image: var(--bg-uberBg);
      background-size: 100% 100%;
      background-position: center;
    }
    .md\:bg-city {
      background-image: var(--bg-uberBg);
      background-size: cover;
      background-position: center;
    }
  }
}
